.header {
  position: relative;
}
.header__logo {
  display: flex;
  justify-content: center;
  height: 63px;
  align-items: center;
}
.header__logo img {
  height: 36px;
  width: 200px;
}
.header__nav {
  position: absolute;
  top: 20px;
}
.header__nav .fa-arrow-left {
  padding-left: 15px;
  font-size: 20px;
}

section {
  padding-bottom: 10px;
  position: relative;
}
section hr {
  width: 40px;
  background-color: #99E2D0;
  border: transparent;
  height: 3px;
  position: absolute;
  top: 13px;
  left: 2px;
}

.photo-menu {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .photo-menu {
    height: 383px;
  }
}

.menu {
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  top: -40px;
  margin-bottom: -40px;
  padding-top: 20px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 75%;
    margin: auto;
    margin-bottom: -40px;
  }
  .menu section {
    width: 63%;
    margin: auto;
  }
}
.menu__presentation {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .menu__presentation {
    justify-content: center;
  }
}
.menu__title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
  margin: 0px;
  padding-bottom: 10px;
  position: relative;
}
.menu .fa-heart {
  position: absolute;
  top: 10px;
  right: -40px;
}
.menu .section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.menu .button-display {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.menu .button {
  padding-left: 50px;
  padding-right: 50px;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-sizing: content-box;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
}
.card .card-title {
  padding-top: 10px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card .card-subtitle {
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card .card-price {
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 8px;
  padding-right: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.card .card-info {
  display: flex;
  justify-content: space-between;
  min-width: 0px;
}
.card .card-check {
  width: 0px;
  background-color: #99E2D0;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.card .card-check .fa-check {
  color: #99E2D0;
  border-radius: 25px;
  border: solid 1px white;
  background-color: white;
  opacity: 0;
}
.card:hover {
  transition: padding-right 500ms;
  padding-right: 60px;
}
.card:hover .card-check {
  transition: width 500ms;
  width: 60px;
}
.card:hover .card-check .fa-check {
  transition: opacity 200ms;
  opacity: 1;
}
.card:not(:hover) {
  padding-right: 0px;
  transition: padding-right 500ms;
}
.card:not(:hover) .card-check {
  transition: width 500ms;
  width: 0px;
}
.card:not(:hover) .card-check .fa-check {
  transition: opacity 200ms;
  opacity: 0;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.entrees {
  animation: apparition 800ms;
  animation-delay: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.plats {
  animation: apparition 800ms;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.desserts {
  animation: apparition 800ms;
  animation-delay: 1500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}/*# sourceMappingURL=style_menu.css.map */