.loading {
  z-index: 50;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  animation: disappear 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.loading__display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
}
.loading-icon {
  font-size: 50px;
  background-clip: text;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transform: rotate(0turn);
  animation: spin 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 5;
}
.loading__title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 48px;
  background-clip: text;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@keyframes disappear {
  0% {
    z-index: 50;
  }
  75% {
    opacity: 0.15;
    background-color: white;
  }
  100% {
    z-index: -50;
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
.fonctionnement {
  font-family: "Roboto";
  background-color: white;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    width: 75%;
    margin: auto;
    padding-bottom: 10px;
  }
}
.fonctionnement-display {
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .fonctionnement-display {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.fonctionnement .fonctionnement__title {
  height: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement .box-display {
    display: flex;
    flex-direction: row;
  }
}
.fonctionnement .box {
  background-color: #F6F6F6;
  border-radius: 20px;
  box-sizing: content-box;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
  margin-bottom: 20px;
  height: 72px;
  width: 90%;
  display: flex;
  align-items: center;
  padding-right: 20px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .fonctionnement .box {
    width: 32%;
    margin-right: 40px;
  }
}
.fonctionnement .box .box-number {
  position: absolute;
  border-radius: 100px;
  color: white;
  background-color: #9356DC;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  left: -10px;
}
.fonctionnement__icon {
  padding-left: 25px;
  padding-right: 20px;
}
.fonctionnement__icon:hover {
  color: #9356DC;
}

.restaurants {
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.restaurants-display {
  padding: 15px;
}
@media screen and (min-width: 1024px) {
  .restaurants-display {
    width: 75%;
    margin: auto;
    padding: 0px;
  }
}
.restaurants__title {
  font-weight: 700;
  font-size: 24px;
}
@media screen and (min-width: 1024px) {
  .restaurants__title {
    margin-top: 0px;
  }
}
.restaurants .card-display {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (min-width: 1024px) {
  .restaurants .card-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
  }
}
.restaurants .width-card {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .restaurants .width-card {
    width: 46%;
  }
}
.restaurants__card {
  background-color: white;
  border-radius: 15px;
  box-sizing: content-box;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  position: relative;
}
.restaurants__card img {
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  height: 191px;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.restaurants__card .card-new {
  background-color: #99E2D0;
  color: #007866;
  position: absolute;
  top: 15px;
  right: 14px;
  padding: 6px;
  border: solid 0px transparent;
}
.restaurants__card .card-content {
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.restaurants__card .card-like {
  position: relative;
}
.restaurants__card .card-like .fa-heart {
  position: absolute;
  right: 20px;
  top: 20px;
}
.restaurants__card .card-text {
  padding-left: 15px;
}
.restaurants__card .card-title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}
.restaurants__card .card-subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 300;
}

.header__logo {
  display: flex;
  justify-content: center;
  height: 63px;
  align-items: center;
}
.header__logo img {
  height: 36px;
  width: 200px;
}
.header__input {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}
.header__input p {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.header__icon {
  padding-right: 8px;
}

.presentation {
  background-color: #F6F6F6;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.presentation__title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  width: 62%;
  margin-top: 35px;
  margin-bottom: 10px;
}
.presentation__subtitle {
  text-align: center;
  width: 90%;
  margin-top: 0px;
  font-weight: 300;
  font-size: 18px;
}
.presentation .button {
  margin-top: 10px;
  margin-bottom: 50px;
}/*# sourceMappingURL=style_index.css.map */