$main-font-family:'Roboto', sans-serif;
$second-font-family:'Shrikhand', cursive;
$title-font-size:700;
$section-title-font-size:500;
$secondary-background-color:white;
$main-background-color:#F6F6F6;
$main-text-color:black;
$secondary-text-color:white;
$tertiary-text-color:#007866;
$main-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;




body{
    margin: 0px;
    height: 100%;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    box-sizing: border-box;
}
// Considerer supprimer main-container selon comportement

a {
    text-decoration: none;
    color: $main-text-color;
    &:visited{
        color: $main-text-color;
    }
}

.restaurants{
    font-family:$main-font-family;
    background-color: $main-background-color;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    
    &-display{
        padding: 15px;
    }
    &__title{
        font-size: $section-title-font-size;
    }
    .width-card{
        width: 100%;
        
    }
    &__card{
        background-color:$secondary-background-color;
        border-radius: 15px;
        box-sizing: content-box;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        
        img{
            object-fit: cover;
            box-sizing: border-box;
            height: 191px;
            width: 100%;
            border-top-right-radius:15px;
            border-top-left-radius: 15px;

        }
    }
}

.footer{
    background-color: #353535;
    color: $secondary-text-color;
    padding: 22px;
    padding-bottom: 10px;
    padding-left: 25px;
    
    &__title{
        font-family: $second-font-family;
        height: 18px;
        font-style: italic;
        font-weight: 400;
        margin: 0px;
        padding-bottom: 16px;
    }
    .footer__subtitle{
        font-family: $main-font-family;
        height: 16px;
        font-weight: 500;
    }
    p{
        font-family: $main-font-family;
        height: 16px;
        font-weight: 400;
    }
    a{
        color: $secondary-text-color;
        &:visited{
            color: $secondary-text-color;
        }
    }
    &__icon{
        padding-right: 15px;
        height: 13px;
        width: 12px;
    }
}

.header{

    &__logo{
        display: flex;
        justify-content: center;
        height: 63px;
        align-items: center;

        img{
            height: 36px;
            width: 200px;
        }
    }
    &__input{
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
    }
}